<div class="wrapper">
  <div class="title-text">
    <div class="title login">
      Sign up
    </div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
    
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "abc@example.com" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <br/>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br/>

        <div class="field btn">
          <div class="btn-layer"></div>
          <%= f.submit "Sign up" %>
        </div>
        <div class="signup-link">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
      </div>
  </div>
</div>