<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
                <%= f.input :name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <%= f.input :description %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                  <%= f.select(:task_status, Task.task_statuses.keys.map {|status| [status.titleize,status]}, wrapper_html: {class: "col-sm-6"})  %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                  <%= f.input :start_date, input_html: {'data-provide': 'datetimepicker1'}, class: 'form-control datetimepicker-input', label: "Start Date", placeholder: "Task End Date" %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <%= f.input :expiration_date, input_html: {'data-provide': 'datetimepicker1'}, class: 'form-control datetimepicker-input', label: "End Date", placeholder: "Task End Date" %>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
