<div class="container py-5">
  <div class="row">
    <div class="col">
      <h3>Tasks</h3>
    </div>
    <div class="col">
      <%= link_to "New", new_task_path %>
    </div>
  </div>
  <% @tasks.each do |task| %>
    <div class="row task-wrapper">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="task">
                <div>
                  <p>
                    <strong>Title</strong>: <%= task.name.titleize %>
                  </p>
                </div>
                <div>
                  <% unless task.task_status.nil? %>
                    <p>
                      <strong>Status</strong>: <%= task.task_status.titleize %>
                    </p>
                  <% end %>
                </div>
                <div>
                  <p>
                    <%= link_to "Update", edit_task_path(task) %>|
                    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="task">
                <div>
                  <p>
                    <strong>Start Date:</strong> <%= task.start_date %>
                  </p>
                </div>
                <div>
                  <p>
                    <strong>End Date:</strong> <%= task.expiration_date %>
                  </p>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @tasks %> 
    </div>
  </div>

</div>