<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>New Task</h1>
            <%= render 'form', task: @task %>
            <br/>
            <%= link_to 'Back', tasks_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>
