<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
    <%= render 'form', task: @task %>
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>

  </div>
</div>
