

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 p-5">
                <h1> <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-2">
                <a class="text-decoration-none" href="#">
                    <div class="card p-3 shadow bg-purple text-center border-0">
                        <div class="card-body">
                            <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead"><%= @backlog_count %> Backlog's</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-2">
                <a class="text-decoration-none" href="#">
                    <div class="card p-3 shadow bg-purple text-center border-0">
                        <div class="card-body">
                            <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead"><%= @progress_count %> In Progress </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-2">
                <a class="text-decoration-none" href="#">
                    <div class="card p-3 shadow bg-purple text-center border-0">
                        <div class="card-body">
                            <i class="fa fa-image fa-2x" aria-hidden="true"></i>
                            <hr />
                            <p class="card-title lead"><%= @done_count %> Done </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>



