
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>Task Management</h2>
    </div>
    <ul class="sidebar-nav">
      <li class="active">
        <a href="<%= root_path %>"><i class="fa fa-home"></i>Home</a>
      </li>
      <li>
        <a href="<%= tasks_path %>"><i class="fa fa-plug"></i>Tasks</a>
      </li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete  do %>
          <i class="fa fa-plug"></i>Logout
        <% end %>
      </li>
    </ul>
  </aside>

