<div class="wrapper">
  <div class="title-text">
    <div class="title login">
      Forgot your password?
    </div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br/>
        <div class="field btn">
          <div class="btn-layer"></div>
            <%= f.submit "Reset password" %>
          </div>
        <div class="signup-link">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
      </div>
  </div>
</div>