<div class="wrapper">
  <div class="title-text">
    <div class="title login">
      Login
    </div>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "abc@example.com" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "****" %>
        </div>
        <br />
        <div class="pass-links">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <div class="field btn">
          <div class="btn-layer"></div>
          <%= f.submit "Log in" %>
        </div>
        <div class="signup-link">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
      </div>
  </div>
</div>