.task-wrapper {
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
}