<!DOCTYPE html>
<html class="<%= controller_name %> <%= action_name %>">
  <head>
    <title>InnerHour | Task management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if current_user.present? %>  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css" />
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <% if current_user.present? %>  
    <div id="wrapper">
        <%=  render partial: "partials/navbar" %>
      <section id="content-wrapper">
          <%= yield %>
      </section>
    </div>
    <% else %>
      <%= yield %>
    <% end %>


    <div class="min-h-screen">
    </div>

  </body>
</html>
